__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/
.env
.venv/
venv/
.idea/
.vscode/
.coverage
coverage.xml
docs/*
!docs/community/
!docs/community/*.md
!docs/extensions.md
