<div class="row g-2 align-items-center mb-2 assignment-row"
     data-node-id="{{ a.id }}">
  <div class="col-5">
    <input type="text"
           class="form-control form-control-sm assignment-key"
           value="{{ a.key }}"
           required>
  </div>
  <div class="col-5">
    <input type="text"
           class="form-control form-control-sm assignment-value"
           value="{{ a.value }}">
  </div>
  <div class="col-2 text-end">
    <button type="button"
            class="btn btn-sm btn-outline-danger"
            onclick="this.closest('.assignment-row').remove()">
      Remove
    </button>
  </div>
</div>